<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup-calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-pickup-call-card status="hold" updatedAt="28/11/2022 14:59" createdAt="23/07/2022 13:12"
    notes="Bags are full, one with plastic, the other with glass"></app-pickup-call-card>
  <app-pickup-call-card status="processing" updatedAt="24/04/2022 14:32" createdAt="12/02/2022 09:02"
    notes="Bags are full of plastic"></app-pickup-call-card>
  <app-pickup-call-card status="finished" updatedAt="23/07/2020 12:54" createdAt="13/06/2021 06:12"
    value="15€"></app-pickup-call-card>


</ion-content>