<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-button slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-button>
    <ion-title>Pickup-call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img
    src="https://depor.com/resizer/tWkgaFkRSfQvJrxQJP3zxVe35K4=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/DOSTJYG5PVBK3ELX3UXALXJYPQ.jpg"
    alt="">
  <ion-card>
    <ion-card-content>
      <p>Address: Calle Falsa, 123</p>
      <p>Complement: Apto 222</p>
      <p>Neighborhood: Poblenou</p>
      <p>Zip code: 08005</p>
      <p>City name - State</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success">Create pickup call</ion-button>
</ion-content>